@page "/Article/Index"
@model FindingHealthcareSystem.Pages.Article.IndexModel
@{
    ViewData["Title"] = "Articles";

}
<link rel="stylesheet" href="/css/article.css" />

<div class="container mt-10">
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="text-center">Bài viết</h1>
            
            <div class="article-grid">
                @if(Model.Articles != null && Model.Articles.Any())
                {
                    @foreach(var article in Model.Articles)
                    {
                        <!-- Article Card 1 -->
                            <div class="article-card">
                            <img src="@article.ImgUrl" alt="Article image" class="article-image">
                                <div class="article-content">
                                    <h2 class="article-title">@article.Title</h2>
                                    <p class="article-text"> @article.Content</p>
                                    <div class="article-meta">
                                        <span class="article-category">@article.CategoryName</span>
                                        <span class="article-date">@article.CreatedAt</span>
                                    </div>
                                <a asp-page="/Article/Detail" asp-route-id="@article.Id" class="btn btn-primary mt-3">Xem chi tiết</a>

                                </div>
                            </div> 
                    }
                }
                else
                {
                    <p class="text-center">Không có bài viết nào.</p>
                }
            </div>
        </div>
    </div>
</div>

